body{
font-family:sans-serif;
background:#1e1e1e;
color:white;
}

#chat{
width:600px;
margin:auto;
}

#messages{height:400px;
overflow:auto;
background:#2b2b2b;
padding:10px;
}

.msg{
margin:10px;
padding:10px;
border-radius:10px;
background:#3c3c3c;
}

.self{
background:#4c7cff;
}

img{
max-width:200px;
}

video{
max-width:200px;
}
